<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Novi Glumac</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
<div class="container my-5">
    <h2 class="mb-5">Novi Glumac</h2>
    <div class="row">
        <div class="col-md-6">
            <!--/*@thymesVar id="glumac" type="com.example.zadatak_1.model.Glumac"*/-->
            <form action="#" th:action="@{/glumci/dodaj_glumca}" th:object="${glumac}" method="post">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="ime" class="col-form-label">Ime</label>
                        <input type="text" th:field="*{ime}" class="form-control" id="ime" placeholder="Ime">
                        <span th:if="${#fields.hasErrors('ime')}" th:errors="*{ime}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="prezime" class="col-form-label">Prezime</label>
                        <input type="text" th:field="*{prezime}" class="form-control" id="prezime" placeholder="Prezime">
                        <span th:if="${#fields.hasErrors('prezime')}" th:errors="*{prezime}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="datumrodjenja" class="col-form-label">Datumrodjenja</label>
                        <input type="text" th:field="*{datumrodjenja}" class="form-control" id="datumrodjenja" placeholder="Datumrodjenja">
                        <span th:if="${#fields.hasErrors('datumrodjenja')}" th:errors="*{datumrodjenja}" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input type="submit" class="btn btn-primary" value="Potvrdi">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>