<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Framework</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>
<body>
<h1>Info Film</h1>

<table class="table table-hover ">
    <tr>
        <th>ID</th>
        <th>Naziv</th>
        <th>Boja</th>
        <th>Godina</th>
    </tr>


    <form action="#" th:action="@{/filmovi/film_info/{id}(id=${info.get().id})}" th:object="${info}" method="get">
        <td th:text="${info.get().id}">123</td>
        <td th:text="${info.get().naziv}"> UUpoznaj Fokerove</td>
        <td th:text="${info.get().boja}"> UU boji</td>
        <td th:text="${info.get().godina}">22001</td>
    </form>

</table>

</body>
</html>